body {
  font-weight: bold;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  padding: 100px;
  text-align: center;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #58a2bb;
  margin: 30px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 4);
}

header h1 {
  color: white;
  text-align: center;
  background-color: #033d53;
  font-weight: bold;
  padding: 2.5rem;
  font-size: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container h2 {
  font-family: 'Roboto';
  font-size: 50px;

}

#Sobre {
  background-color: #033d53;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  text-decoration: none;
  margin-right: 35px;
}

#Sobre:hover {
  background-color: #00688B;
}

nav ul li {
  display: inline;
  margin: 10px
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: larger;
}

a:hover {
  text-decoration: underline;
}

a {
  color: #333;
}

.content {
  text-align: center;
  padding: 40px;
}

#home {
  display: flex;
}

footer {
  color: white;
  background-color: #033d53;
  text-align: center;
  width: 100%;
  padding: 10px;
  position: auto;
  bottom: 0;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: #5F9EA0;
}

.Funcionamento {
  text-align: center;
  justify-content: center;
}
.Funcionamento h3{
    font-family: 'Roboto';
    font-size: 50px;
    background-color: #58a2bb;
    border-radius: 50%;
    padding: 40px;
    display: inline-block;
    margin-bottom: -10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 4);
}
.Funcionamento ul {
    font-family: 'Roboto';
    text-decoration: none;
    list-style: none;
    font-size: 30px;
    text-align: justify;
    background-color: #58a2bb;
    padding: 20px;
}