body {
    font-weight: bold;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header h1 {
    color: white;
    text-align: center;
    background-color: #033d53;
    font-weight: bold;
    padding: 2.5rem;
    font-size: 2rem;
}

nav ul li {
    display: inline;
    margin: 10px
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: larger;
}

a:hover {
    text-decoration: underline;
}

a {
    color: #333;
}

#home {
    display: flex;
}

.content {
    text-align: center;
    padding: 40px;
}

footer {
    color: white;
    background-color: #033d53;
    text-align: center;
    width: 100%;
    padding: 10px;
    position: auto;
    bottom: 0;
    padding: 10px 0;
}

.container{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    background-color: #58a2bb;
    margin: 10px;
    margin-left: 70px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 4);
}
.container p {
    white-space: pre-line;
}
img{
    width: 750px;
    margin-left: 50px;
}